{
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 160,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
