:host {
  align-content: center;
  background-color: var(--color-neutral-300);
  border: 2px dashed var(--color-border-default);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-neutral-700);
  display: grid;
  grid-auto-rows: min-content;
  grid-template: min-content / 1fr;
  justify-items: center;
  min-height: 120px;
  padding: 16px;
  row-gap: 8px;

  .kn-file-upload-selection-web__guidance {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
}