@if (!processedPolicies.length) {
  <p>No policies found, please upload a CSV file.</p>
} @else {
  <table class="policy-table">
    <thead>
      <tr>
        <th><!-- intentionally left blank --></th>
        <th>Policy #</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      @for (policy of processedPolicies; track policy; let index = $index) {
        <tr>
          <td class="policy-table__count-cell">{{ index + 1 }}</td>
          <td>{{ policy.policyNumber }}</td>
          <td>{{ policy.isValid ? "valid" : "error" }}</td>
        </tr>
      }
    </tbody>
  </table>
}
