.policy-table {
  width: 100%;
  font-size: 20px;
  border-collapse: collapse;
  table-layout: auto;
  background: var(--color-neutral-white);
  border-radius: 20px;
  margin-top: 64px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  thead th {
    text-align: left;
    border-bottom: 1px solid var(--color-neutral-500);
  }

  th,
  td {
    padding: 8px; /* Adds 8px of space inside cells */
  }
}

tr + tr {
  border-top: 1px solid var(--color-neutral-400);
}

.policy-table__count-cell {
  width: 50px;
  text-align: center;
}

.policy-table__submit-button {
  background: var(--color-primary);
  color: var(--color-neutral-black);
  border: 2px solid var(--color-neutral-black);
  font-weight: bold;
  padding: 12px;
  border-radius: 4px;
  margin-top: 32px;
}
