:host {
  display: grid;
  grid-template: auto 1fr / 1fr;
  row-gap: 8px;
  overflow: auto;
  padding: 8px 8px 0 8px;

  .kn-upload-preview__header {
    align-items: center;
    display: grid;
    grid-template: 40px / 1fr auto;

    >* {
      grid-row: 1/2;
    }
  }

  .kn-upload-preview__file {
    align-items: baseline;
    column-gap: 8px;
    display: grid;
    grid-template: auto / auto 1fr;
    font-size: 18px;
    justify-items: flex-start;

    .kn-upload-preview__file-name {
      font-weight: 500;
    }

    .kn-upload-preview__file-size {
      color: var(--color-neutral-600);
      font-size: 12px;
    }
  }
}
