$pad: var(--pad-base);

:host {
  align-items: flex-start;
  box-sizing: border-box;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  kn-file-upload-layout-header-handset,
  kn-file-upload-layout-footer-handset,
  kn-file-upload-selection-handset,
  kn-file-upload-preview-handset {
    position: fixed;
    height: auto;
    left: 0;
    right: 0;
  }

  kn-file-upload-selection-handset {
    left: 8px;
    right: 8px;
    top: 64px;
  }

  kn-file-upload-preview-handset {
    bottom: 64px;
    top: 57px;
  }
  
  kn-file-upload-layout-header-handset {
    top: 0;
  }

  kn-file-upload-layout-footer-handset {
    bottom: 0;
  }
}