:host {
  align-items: center;
  background-color: var(--color-neutral-200);
  border: 2px dashed var(--color-neutral-400);
  border-radius: 8px;
  color: var(--color-neutral-700);
  display: grid;
  grid-auto-rows: min-content;
  grid-template: min-content / 1fr;
  justify-items: center;
  padding: 16px;
  row-gap: 8px;

  .title,
  .guidance {
    margin: 0;
    padding: 0;
  }

  .title {
    font-weight: 600;
  }

  .guidance {
    font-size: 14px;
  }
}